# {{ ansible_managed }}
#
LoadPlugin cgroups

<Plugin cgroups>
{% if collectd_plugin_cgroups_cgroups is defined %}
{% for cgroup in collectd_plugin_cgroups_cgroups %}
  CGroup "{{ cgroup }}"
{% endfor %}
{% endif %}
  IgnoreSelected {{ collectd_plugin_cgroups_ignoreselected }}
</Plugin>
