# {{ ansible_managed }}
#
LoadPlugin md

<Plugin md>
{% for device in collectd_plugin_md_devices %}
  Device "{{ device }}"
{% endfor %}
  IgnoreSelected {{ collectd_plugin_md_ignoreselected }}
</Plugin>
