LoadPlugin processes

<Plugin processes>
{% if collectd_plugin_processes_process is defined %}
{% for process in collectd_plugin_processes_process %}
  Process "{{ process }}"
{% endfor %}
{% endif %}
{% if collectd_plugin_processes_processmatch is defined %}
{% for processmatch in collectd_plugin_processes_processmatch %}
  ProcessMatch {{ processmatch.name }} {{ processmatch.regex }}
{% endfor %}
{% endif %}
{% if collectd_plugin_processes_collectcontextswitch is defined %}
  CollectContextSwitch {{ collectd_plugin_processes_collectcontextswitch }}
{% endif %}
</Plugin>
